<%- include("includes/head.ejs"); %>
<body>
<h2>Don't have an account</h2>
<h3>Create a new account:-</h3>

<label for="user">User Name:</label>
<input type="text" id="user"><br><br>

<label for="pass">Create password:</label>
<input type="password" id="pass">
    <%-include("includes/footer.ejs");%>

</body>
</html>