<%- include("includes/head.ejs"); %>
<body>

        <h1>Dice value is:<%= diceVal %> </h1>
        <% if(diceVal===6){%>
            <h2>nice! play try again</h2>
       <% } %>
     
</body>
</html>